[Desktop Entry]
Type=Application
Icon=/home/user/Fritzing/fritzing.png
Name=Fritzing
Terminal=false
Hidden=false
Categories=Development; IDE; Electronicse
Exec=/home/user/Fritzing/fritzing.AppImage
StartupWMClass=arronax
