[Desktop Entry]
Type=Application
Icon=/home/user/Fritzing/fritzing.png
Name=Fritzing
Terminal=false
Hidden=false
Categories=Development; Education; Science
Exec=/home/user/Fritzing/fritzing.AppImage
Path=/home/user/Fritzing
StartupWMClass=arronax
