[Desktop Entry]
Type=Application
Icon=/home/${HOME}/Fritzing/fritzing.png
Name=Fritzing
Terminal=false
Hidden=false
Categories=Development; Education; Science
Exec=/home/${HOME}/Fritzing/fritzing.AppImage
Path=/home/${HOME}/Fritzing
StartupWMClass=arronax
